
.width{
    color: #080000;

font-family: Merriweather;
font-size: 50px;
font-style: normal;
font-weight: 500px;
line-height: 95px; 
display: flex;
justify-content: center;
flex-direction: column;
 align-items: center;
}
.show{
    text-align: center;
    font-family: Merriweather;
    margin-left: 10px;
}

.new{
    color: #f4f1f1;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 0px;
}

.image{
    background-image:url('../image/Banner Image.png');
    width: 83%;
    max-width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
   
}
.featured{
   
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.sam{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.all .sam{
    padding-bottom: 5px;
    margin-top: 5px;
}

.all{
    color: rgb(0, 0, 0);

}
.tie{
    text-align: center;
    
}
.year{
    width: 802.9px;
height: 500px;
flex-shrink: 0;
align-items: center;
text-align: center;

}
.space{
    justify-content: space-between;
    margin:0px;
    padding:0px;
    align-items: center;
text-align: center;
}
.mitu{
    display: flex;
}


.koli{
    color: rgb(245, 2, 2);
    text-align: left;
    align-items:;
}
.last{
    color: black;
    text-align: left;
}
.banner-img{
     display: flex;
width: 319.83px;
height: 464.662px;
padding: 0.008px 0px 0px 0px;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
button{
    border-radius: 8px;
    
}
container{
    display: flexbox;
    align-items: center;
    justify-content: space-between;
}
.container-banner{
    background-image:url('../image/Vectorrr.png');
    width: 1320px;
height: 600px;
flex-shrink: 0;
text-align: right;
justify-content: space-between;
align-items: flex;
}
.me{
    color: black;
}
.park{
    color: black;
}

.a{
    color: rgb(252, 14, 14); 
}
.b{
    color: rgb(252, 14, 14);
}
.c{
    color: rgb(252, 14, 14);
}
.back{
    fill: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}
button{
    border-radius: 8px;
    background: #F00;
    display: inline-flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;

}
.moon{display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px;
}
.soon span{
    font-size: 24px;
    font-weight: 400px;
    color: #FF0000;
    text-align:left;
}
.soon h3{
    font-size: 48px;
    font-weight: 800px;
    color: aqua;
    padding: 10px 0px;
    text-align: left;
}
.soon p{
    width: 393px;
    font-size: 20px;
    color: #070707;
    text-align: left;
    
}
.round{
    width: 364px;
height: 364px;
margin:auto
border-radius:50%;
border:10px solid#FF0000;
padding:15px;
}
.two{
    padding-right: 0px;
}
.two h3{
    font-size: 48px;
    text-align: left;
    font-weight: bold;
    color: #FF0000;
    padding-bottom: 15px;

}
.two p{
    width: 276px;
    font-size: 20px;
    color: #700211;
    padding bottom:30px;

}
.group{
    width: 140px;
    height:140px:
}
.target{
    padding: 45px 0px;
}
.gifts span{
    font-size: 24px;
    text-align: left;
    color: #FF0000;
    font-weight: 400;
}
.gifts h1{
    font-size: 48px;
    text-align: left;
    color: #700211;
    font-weight: bold;
    padding: 15px;
}
.gifts p{
    width: 896px;
    font-size: 20px;
    text-align: left;
    color: #700211;
    padding-top: 25px;
}
.card-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 45px;
}
.card img{
    width: 424;
    height: 450;
    margin-bottom: 20px;
}
.w{
    align-items: center;
    margin-top: 45px 0px;
}
.x{
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #ffe5e5;

}
.y{
    display: flex;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: auto;
}
.x p{
    width: 896px;
    font-size: 20px;
    color: #700211;
    text-align: center;
    padding-bottom: 25px;
    margin: auto;
}
.x h3{
    font-size: 48px;
    text-align: center;
    padding-top: 25px 0px;
    color: #700211;
    font-weight: bold;
}
.z{
    display: flex;
    justify-content: center;
    align-items: center;
}
.x form{
    padding: 25px 0px 75px 0px;
}
.x form input{
width: 450px;
height: 72px;
margin: auto;
text-align: left;
padding-left: 15px;
font-size: 20px;
color: #700211;
border-radius: 15px;
border: 0px;
}
.x form button{
    width: 210px;
    height: 72px;
    font-size: 20px;
    color: #FFFFFF;
    border-radius: 15px;
    border: 0px;
background-color: #FF0000;

}


